img {
    height: 30%;
    width: 32%;
    margin-left: 38%;
    margin-top: 3%;
}
body {
 background: linear-gradient(
  #EB428A,
  #E83E8C
);
  font-weight: 900;
  color: white;
  margin: 0;
  overflow: hidden;
}
/* heart */
.heart {
  position: absolute;
  top: -10px;
  animation: fall linear forwards;
}

.heart::before {
  content: "💗";
  font-size: 20px;
}

/* animation */
@keyframes fall {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}


